.defaultClass{
font-size: 24px !important;
}
.popupPickerContent{
height: 60px !important;
line-height: 60px !important;
font-size: 28px !important;
}
.vux-popup-header{
font-size: 28px !important;
}
.weui-toast__content{
font-size: .3rem !important;
}